.logodiv{
    position: absolute;
    background-color: black;
    margin-left: 40%;
}
.imgfox{
    position: absolute;
    margin-top: 550px;
}
.infoimg{
    position: absolute;
    width: 350px;
    height: 350px;
    margin-left: 250px;
}
.infoimg:hover{
    width: 400px;
    height: 400px;
    transition: 0.3s;
}
.aboutimg{
    position: absolute;
    width: 350px;
    height: 350px;
    margin-left: 1250px;
}
.aboutimg:hover{
    width: 400px;
    height: 400px;
    transition: 0.3s;
}