* {
    color: rgb(43, 226, 113) ;
}

body{
    background: url(../png/fon5.png);
}
.wrapper{
    border: black solid ;
    width: calc(100% - 20px);
    height: 150px;
    margin-left: 10px;  
    font-family: MV Boli;
    
}
.blockside{
    text-align: center;
    height: 100%;
    width: 20%;
    float: left;
    margin-left: 4%;
    font-size: 2.5em;
}
.wrapper .blockside a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.blockside img{
    margin-left: 50px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.ivent{
    border: black solid 2px;
    width: 15%;
    height: 550px;
    margin-left: 0px;
    float: left; 
}
.ivent p {
    font-size: 1.5em;
    font-family: fantasy;
    text-align: center;
}
.blockivent ul{
    font-size: 1.5em;
}
.content1{
    /* border: solid black 2px; */
    height: 550px;
    width: 84%;
    float: left;
    font-size: 2.5em;
}

.discriptiondiv{
    /* border: solid black 4px; */
    float: left;
    height: 550px;
    width: 69%;
}
.foot{
    border: black solid;
    width: calc(100% - 19px);
    height: 200px;
    float: left;
    margin-left: 10px; 
    
}
.blockivent{
    background-color: white;
    border-radius: 10px;
    width: calc(100% - 10px);
    height: 60%;
    margin-left: 5px;
    overflow: auto;
    background: linear-gradient(to top, #00e1ff98, #001aff9c);  
}
.foot a {
    font-size: 2em;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.foot ul li{
    list-style-image: url("../png/50x50.png" );
    margin-left: 2%;
}
.wrappercontent{
    border: solid black;
    float: left;
    width: calc(100% - 20px);
    height: 550px;
    margin-left: 10px;
    
}
.conteynerimg{
    /* border: solid black; */
    float: left;
    height: 550px;
    width: 30%;
}
.conteynerimg img{
    height:40% ;
    width:100% ;
    margin-top: 5%;
}
@media screen and (max-width:1366px){
    .ivent{
        width: 20%;
    }
    .content1{
        /* border: solid black 2px; */
        height: 550px;
        width: 79%;
    }
}
@media screen and (max-width:1024px){
    .ivent{
        width: 25%;
    }
    .content1{
        /* border: solid black 2px; */
        height: 550px;
        width: 74%;
    }
    .conteynerimg img{
        height:25% ;
        width:100% ;
        margin-top: 5%;
    }
}
@media screen and (max-width:768px){
    .ivent{
        width: 35%;
    }
    .content1{
        /* border: solid black 2px; */
        height: 550px;
        width: 64%;
        font-size: 1.5em;
    }
    .conteynerimg img{
        height:0px ;
        width:0px ;
        margin-top: 5%;
    }
}
@media screen and (max-width:480px){
    .ivent{
        width: 0%;
    }
    .ivent p{
        font-size: 0em;
    } 
    .content1{
        height: 550px;
        width: 54%;
        font-size: 1em;
    }
    .foot{
        height: 250px;
    }
    .notall{
        font-size: 0em;
        margin-left: 0px
    }
    .all{
        margin: 0px;
    }
    .blockside{
        text-align: left;
        transform: translateX(-120px);
    }
}
