body{
    background-image: url(../../png/fon3.png);
}
.logotip{
    width: 300px;
    height: 300px;
    float: left;
}
.logotip img{
    height: 300px;
    width: 300px;
}
.minidiscription{
    height: 210px;
    font-size: 2em;
    width: 100%;
    text-align: center ;
}
.minidiscription a{
    margin-left: 75%;
    font-style: italic;
}
.minidiscription p{
    margin-top: 5%;
}
.wrapper{
    width: 100%;
    height: 600px;
    
}
.plugins{
    
    height: 100%;
    width: 25%;
    float: left;
    text-align: center;
    font-size: 2em;
    
}
.firstP {
    border: black solid 2px;
    display: block;
    width: 80%;
    height: 80%;
    overflow: auto;
}
.content1{
    
    height: 100%;
    width: 100%;
    font-size: 2em;
    text-align: center;
    
}
.secP{
    display: block;
    width: 70%;
    height: 80%;
    overflow: auto;
    border: black solid 2px;
    float: right;
}
.wrapperhead{
    border: solid black 1px;
    float: left;
    width: 100%;
}
.clear{
    clear: both;
}